name: test

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - 'README.md'
      - 'package.json'
      - '.github/workflows/publish.yml'
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:
    name: ${{ matrix.os }} (v${{ matrix.node }})

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node: ['8', '16']

    runs-on: ${{ matrix.os }}

    steps:

      # Check out files
      - uses: actions/checkout@v2

      # Prepare our target node version
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      # Install all dependencies
      - name: Install dependencies
        run: |
          npm install --ignore-scripts
          npm install request

      # Build on the current platform
      - name: Build native addon
        run: npm run build

      # Compile the module with tsc
      - name: Build module
        run: npm run tsc

      # Runs all tests with the current build
      - name: Test
        run: npm test
